
.signup-form{
    margin: 50px auto;
    width: 60%;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.065);
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    font-size: 50px;
    color: rgb(0,0,0);
    font-weight: 750;
    text-transform: uppercase;
}

.underline{
    width: 100px;
    height: 12px;
    background: rgb(0,0,0);
    border-radius: 10px;
    align-items: center;
    padding-left: 50px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 12px;
    
}

.input-fields .input{
    display: flex;
    width: 400px;
    height: 55px;
    margin: auto;
    align-items: center;
    background: #ffff;
    border: none;
    border-radius: 10px;
    padding-left: 24px;
    color: black;
    
}

.signin-button{
    margin-top: 10px;
    background-color: rgb(8, 161, 8);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    align-self: center;
    font-weight: bolder;
}

.login{
    margin-top: 10px;
    text-align: center;
}

.login .login-button{
    margin: 10px;
    background-color: rgb(39, 121, 220);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    align-self: center;
    text-decoration: none;
    font-weight: bolder;
}
